*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.cars-container{
    border:solid 2px red;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.cars-container .sedans{
    
    height: 55vh;
    width: 17vw;
    border-radius: 5px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    color: rgba(255, 255, 255, 255);
    padding-left: 30px;
    
}
.card-car p{
    font-family: 'Lexend Deca', sans-serif;
}

.card-car h2{
    font-family: 'Big Shoulders Display', cursive;
    margin-top: 25px;
    font-size: 29px;
}




.card-car{
    height: 75vh;
    width: 20vw;
    color: rgba(255, 255, 255, 255);
    align-content: center;
    justify-content: center;
    padding-left: 40px;
    padding-top: 50px;
    min-width: 17vw;
    min-height: 55vh;
}

.card-car p{
    font-size: 13px;
    padding-top: 30px;
    padding-bottom: 30px;
    line-height: 25px;
    padding-right: 30px;
    align-content: center;
}

.cars-container .car1{
    background-color: hsl(31, 77%, 52%);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.card-car .sedan-icon{
    display: inline-block;
    height: 35px;
    width: 55px;
    background-image: url("https://res.cloudinary.com/dwdz4mn27/image/upload/v1623348336/3-column-preview-card-component-main/images/icon-sedans_qowdus.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.cars-container .car2{
    background-color: hsl(184, 100%, 22%);
}
.card-car .suvs-icon{
    height: 35px;
    width: 55px;
    background-image: url("https://res.cloudinary.com/dwdz4mn27/image/upload/v1623348336/3-column-preview-card-component-main/images/icon-suvs_tctt4h.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block;
}

.cars-container .car3{
    background-color: hsl(179, 100%, 13%);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.card-car .luxury-icon{
    display: inline-block;
    background-image: url("https://res.cloudinary.com/dwdz4mn27/image/upload/v1623348336/3-column-preview-card-component-main/images/icon-luxury_w5umxb.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 35px;
    width: 55px;
}

.card-car .buttons{
    width: 146.84px;
    height: 45px;
    border-radius: 50px;
    border:none;
    cursor: pointer;

}

.card-car .c3{
    color: hsl(31, 77%, 52%);
    margin-top: 76px;
}

.card-car .c2{
    color: hsl(184, 100%, 22%);
    margin-top: 76px;
}

.card-car .c1{
    color: hsl(179, 100%, 13%);
    margin-top: 100px;
}
